### **Python Basics**

### Printing, Variables, Arithmetic

In [ ]:
# Print
print('I already love Python')

I already love Python

In [ ]:
# Variables and assignment
a = 10
print(a)
b = 5
print(b)

10
5

In [ ]:
# Arithmetic
# Note variable values persist from previous cell
print(a + b)
print(b - a)
print(a * b)
print(b / a)

15
-5
50
0.5

In [ ]:
# Update
a = a + b
print(a)

15

In [ ]:
# Increment
a += b
print(a)

20

### Types

In [ ]:
# Dynamically-inferred types
a = 10
print(type(a))
a = '10'
print(type(a))
a = 10.0
print(type(a))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
# Type-checking
a = 10
b = '5'
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# Manual type-conversion (string to int)
a = 10
b = '5'
print(a + int(b))

15

In [ ]:
# Automatic type-conversion (int to float)
a = 10
print(type(a))
a += 5.0
print(a, type(a))

<class 'int'>
15.0 <class 'float'>

In [ ]:
# String "arithmetic" (actually concatenation)
a = 'Professor '
b = 'Widom'
print(a + b)

Professor Widom

### Conditional (If) Statements

In [ ]:
# If statements
# Unlike other languages, indentation is significant
a = 8
if a > 10:
    print(a, 'is greater than 10')
    if a >= 15:
        print(a, 'is also at least 15')
elif a > 5:
    print(a, 'is greater than 5 but not greater than 10')
else:
    print('no condition matched')
    print('so a is 5 or less')

8 is greater than 5 but not greater than 10

### <font color = 'green'>**Your Turn**</font>

In [ ]:
# Write a program that starts with a number assigned to variable a.
# If the square of that number is 100 or greater,
# print the squared value and 'is big'.
# Otherwise if the square is 50 or greater,
# print the squared value 'is medium'.
# Otherwise just print 'too small to bother with'.
# Note: To obtain a value squared, use a*a or a**2
# Make sure to try different values for a
#
a = 5
b = a ** 2

if b >= 100:
    print(b, 'is big')

elif b >= 50:
    print(b, 'is medium')
else:
    print(b, 'too small to bother with')

25 too small

### Lists and For-Loops

In [ ]:
# List
a = [2, 4, 7, 9]
print(a)
print(type(a))
print(len(a))

[2, 4, 7, 9]
<class 'list'>
4

In [ ]:
# Iterate through a list
for x in a:
    print(x, 2 * x)

2 4
4 8
7 14
9 18

In [ ]:
# Access element by index (starts at zero)
print(a[1])
print(a[3])
# Try a[5]

4
9

In [ ]:
# Prefix, suffix, and section of list
print(a[:2])
print(a[1:])
print(a[1:3])

In [ ]:
# Append to list
a.append(12)
a.append(14)
print(a)

In [ ]:
# Combine two lists
a = a + [15, 20, 30]
print(a)

In [ ]:
# List elements can be of different types
a = [1, 'two', 3.0, [4,5,6]]
print(a)
print(type(a))
print(type(a[0]), type(a[1]), type(a[2]), type (a[3]))

### Dictionaries (key-value mappings)

In [ ]:
# Dictionary
a = {'name': 'Mary', 'age': 20, 'gender': 'F'}
print(a)
print(type(a))

In [ ]:
# Look up value of element by key - most important feature!
print(a['age'])
# also try a['gender'], a['salary']

In [ ]:
# Modify value
a['age'] = 21
print(a)

In [ ]:
# Iterating through a list of dictionaries
dlist = [{'name':'Mary', 'age':20}, {'name':'John', 'age':30},
         {'name':'Bill', 'age':10}, {'name':'Susan', 'age':40}]
for x in dlist:
    if x['age'] >= 30:
        print(x['name'], 'is old')
    if x['age'] < 20:
        print(x['name'], 'is young')

In [ ]:
# Add new key-value pair
a['salary'] = 100
print(a)

### <font color = 'green'>**Your Turn**</font>

In [1]:
# Here is a dataset of four items, represented as a list of
# dictionaries specifying each item's color and size
items = [{'color':'red', 'size':10}, {'color':'blue', 'size':3},
         {'color':'green', 'size':15}, {'color':'yellow', 'size':6}]
# Write code that prints the color of all items whose size
# is greater than threshold 'low' and less than threshold 'high'
# Note: In Python, use 'and' to combine conditions
low = 5
high = 11

for i in items:
    if i['size'] > low and i['size'] < high:
        print(i['color'])

red
yellow

### Additional Features - Mostly Just FYI

#### User input

In [ ]:
a = input('Enter value 1: ')
b = input('Enter value 2: ')
print(a + b)
# Fix to do integer addition

Enter value 1: 2
Enter value 2: 4
24

#### While loops

In [ ]:
# Echo user input, 'quit' to end
i = input('Enter any string, or "quit" to stop: ')
while i != 'quit':
    print(i)
    i = input('Enter any string, or "quit" to stop: ')
print('Done')
# Change to while True and break

#### Infinite while loop

In [7]:
# Try not 'quit' then try 'quit', Runtime > interrupt
i = input('Enter any string, or "quit" to stop: ')
while True:
    if i != 'quit': print(i)
print('Done')

Enter any string, or "quit" to stop: quit

KeyboardInterrupt:

#### Functions

In [2]:
# Create a function with no arguments or return value
def simple():
    print('This function has no arguments or return value')

In [3]:
# Call the function five times
for i in [1,2,3,4,5]:
    simple()

This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value
This function has no arguments or return value

In [4]:
# Create a function with arguments and a return value
def addthem(a, b):
    return a + b

In [5]:
# Call the function five times
for i in [1,2,3,4,5]:
    print(i, i+1, addthem(i,i+1))

1 2 3
2 3 5
3 4 7
4 5 9
5 6 11