### The R Language: Data Manipulation

<font color="red">File access required:</font> In Colab this notebook requires first uploading files **Cities.csv**, **Countries.csv**, **Players.csv**, and **Teams.csv** using the *Files* feature in the left toolbar. If running the notebook on a local computer, simply ensure these files are in the same workspace as the notebook.

In [1]:
# Set-up
%load_ext rpy2.ipython

#### Open CSV files and load data into data frames

In [5]:
C1 = open('/content/drive/MyDrive/Google Colab/The R Language/Copy of Cities.csv').read()
C2 = open('/content/drive/MyDrive/Google Colab/The R Language/Copy of Countries.csv').read()

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
%%R -i C1 -i C2
cities <- read.csv(text=C1)
countries <- read.csv(text=C2)

#### Data frame introduction

In [7]:
%%R
cities

            city                country latitude longitude temperature
1        Aalborg                Denmark    57.03      9.92        7.52
2       Aberdeen         United Kingdom    57.17     -2.08        8.10
3         Abisko                 Sweden    63.35     18.83        0.20
4          Adana                 Turkey    36.99     35.32       18.67
5       Albacete                  Spain    39.00     -1.87       12.62
6      Algeciras                  Spain    36.13     -5.47       17.38
7         Amiens                 France    49.90      2.30       10.17
8      Amsterdam            Netherlands    52.35      4.92        8.93
9         Ancona                  Italy    43.60     13.50       13.52
10       Andorra                Andorra    42.50      1.52        9.60
11        Angers                 France    47.48     -0.53       10.98
12        Ankara                 Turkey    39.93     32.86        9.86
13       Antalya                 Turkey    36.89     30.70       11.88
14          Arad                Romania    46.17     21.32        9.32
15        Athens                 Greece    37.98     23.73       17.41
16      Augsburg                Germany    48.35     10.90        4.54
17         Bacau                Romania    46.58     26.92        7.51
18       Badajoz                  Spain    38.88     -6.97       15.61
19     Baia Mare                Romania    47.66     23.58        8.87
20         Balti                Moldova    47.76     27.91        8.23
21     Barcelona                  Spain    41.38      2.18       15.78
22          Bari                  Italy    41.11     16.87       15.15
23         Basel            Switzerland    47.58      7.59        6.68
24        Batman                 Turkey    37.89     41.14       14.16
25       Belfast         United Kingdom    54.60     -5.96        8.48
26      Belgrade                 Serbia    44.82     20.47        9.85
27       Bergamo                  Italy    45.70      9.67        9.12
28        Bergen                 Norway    60.39      5.32        1.75
29        Berlin                Germany    52.52     13.40        8.72
30     Bialystok                 Poland    53.15     23.17        6.07
31     Bielefeld                Germany    52.03      8.53        8.78
32  Bila Tserkva                Ukraine    49.77     30.13        6.98
33        Bilbao                  Spain    43.25     -2.93       11.41
34    Birmingham         United Kingdom    52.47     -1.92        8.81
35     Blackpool         United Kingdom    53.83     -3.05        9.15
36          Bodo                 Norway    67.25     14.40        4.50
37       Bologna                  Italy    44.50     11.34       11.69
38          Bonn                Germany    50.72      7.08        8.63
39      Bordeaux                 France    44.85     -0.60       11.87
40      Botosani                Romania    47.75     26.66        8.23
41   Bournemouth         United Kingdom    50.73     -1.90        9.97
42      Bradford         United Kingdom    53.80     -1.75        8.39
43         Braga               Portugal    41.55     -8.42       13.42
44        Braila                Romania    45.29     27.97        9.78
45    Bratislava               Slovakia    48.15     17.12        9.65
46        Bremen                Germany    53.08      8.80        8.14
47         Brest                 France    48.39     -4.50       11.02
48         Brest                Belarus    52.10     23.70        6.73
49          Brno         Czech Republic    49.20     16.61        7.86
50        Brugge                Belgium    51.22      3.23        9.65
51     Bucharest                Romania    44.43     26.10       10.59
52      Budapest                Hungary    47.50     19.08        9.55
53        Burgas               Bulgaria    42.51     27.47       11.93
54        Burgos                  Spain    42.35     -3.68       10.45
55         Bursa                 Turkey    40.20     29.07       11.16
56     Bydgoszcz                 Poland    53.12     18.01        7.14
57         Bytom                 Poland    50.35     18.91        7.66
58          Caen                 France    49.18     -0.35        9.96
59     Cambridge         United Kingdom    52.20      0.12        9.25
60     Cartagena                  Spain    37.60     -0.98       17.32
61       Catania                  Italy    37.50     15.08       15.04
62      Chemnitz                Germany    50.83     12.92        8.05
63      Cherkasy                Ukraine    49.43     32.07        7.19
64     Chernihiv                Ukraine    51.50     31.30        5.92
65    Chernivtsi                Ukraine    48.31     25.92        7.06
66      Chisinau                Moldova    47.01     28.86        8.60
67     Constanta                Romania    44.20     28.61       11.24
68          Cork                Ireland    51.90     -8.50        9.41
69       Cosenza                  Italy    39.27     16.29       16.60
70       Craiova                Romania    44.33     23.83       10.51
71    Daugavpils                 Latvia    55.88     26.51        5.38
72      Debrecen                Hungary    47.53     21.63        8.87
73       Denizli                 Turkey    37.77     29.08       15.02
74         Dijon                 France    47.33      5.03        8.69
75        Dublin                Ireland    53.33     -6.25        8.49
76        Dundee         United Kingdom    56.47     -3.00        6.40
77     Edinburgh         United Kingdom    55.95     -3.22        7.43
78        Edirne                 Turkey    41.67     26.57       10.90
79       Elbasan                Albania    41.12     20.08       15.18
80        Elblag                 Poland    54.19     19.40        6.68
81        Erfurt                Germany    50.97     11.03        7.40
82      Erzincan                 Turkey    39.75     39.49        8.67
83       Erzurum                 Turkey    39.92     41.29        5.17
84     Eskisehir                 Turkey    39.79     30.53       11.11
85        Exeter         United Kingdom    50.70     -3.53       10.14
86        Foggia                  Italy    41.46     15.56       13.83
87     Frankfurt                Germany    50.10      8.68        7.98
88      Freiburg                Germany    48.00      7.87        6.68
89        Galway                Ireland    53.27     -9.05       10.00
90     Gaziantep                 Turkey    37.07     37.38       13.46
91        Geneva            Switzerland    46.21      6.14        8.40
92         Genoa                  Italy    44.41      8.93       12.94
93       Glasgow         United Kingdom    55.87     -4.25        8.60
94      Göteborg                 Sweden    57.75     12.00        5.76
95       Granada                  Spain    37.16     -3.59       16.33
96          Graz                Austria    47.08     15.41        6.91
97      Grenoble                 France    45.18      5.72        8.40
98     Groningen            Netherlands    53.22      6.58        8.71
99          Gyor                Hungary    47.70     17.63        9.65
100   Heidelberg                Germany    49.42      8.70        8.47
101     Helsinki                Finland    60.18     24.93        4.19
102     Horlivka                Ukraine    48.30     38.05        7.12
103       Hrodna                Belarus    53.68     23.83        6.07
104       Huelva                  Spain    37.25     -6.93       17.09
105   Ingolstadt                Germany    48.77     11.45        7.57
106    Innsbruck                Austria    47.28     11.41        4.54
107    Inverness         United Kingdom    57.47     -4.23        8.00
108     Istanbul                 Turkey    41.10     29.01       13.20
109     Kalamata                 Greece    37.04     22.11       17.30
110      Karaman                 Turkey    37.18     33.22       10.41
111    Karlsruhe                Germany    49.00      8.40        8.88
112       Kaunas              Lithuania    54.95     23.88        6.05
113      Kayseri                 Turkey    38.73     35.49        8.89
114      Kherson                Ukraine    46.63     32.60        8.64
115       Kielce                 Poland    50.89     20.66        7.29
116         Kiev                Ukraine    50.43     30.52        6.88
117       Kiruna                 Sweden    67.85     20.22       -2.20
118     Klaipeda              Lithuania    55.72     21.12        7.00
119       Kosice               Slovakia    48.73     21.25        7.31
120     Koszalin                 Poland    54.20     16.18        7.73
121   Kremenchuk                Ukraine    49.08     33.43        7.43
122   Kryvyy Rih                Ukraine    47.93     33.34        8.61
123      Le Mans                 France    48.00      0.10       10.59
124        Lille                 France    50.65      3.08        9.65
125      Limoges                 France    45.83      1.25       10.32
126         Linz                Austria    48.32     14.29        6.79
127       Lisbon               Portugal    38.72     -9.14       15.52
128    Ljubljana               Slovenia    46.06     14.51        9.27
129         Lvov                Ukraine    49.83     24.03        7.04
130   Maastricht            Netherlands    50.85      5.68        8.63
131       Madrid                  Spain    40.40     -3.68       11.19
132    Magdeburg                Germany    52.13     11.62        8.26
133    Makiyivka                Ukraine    48.03     37.97        8.70
134      Malatya                 Turkey    38.37     38.30       14.13
135        Malmö                 Sweden    55.58     13.03        7.33
136       Manisa                 Turkey    38.63     27.44       15.10
137     Marbella                  Spain    36.52     -4.88       17.19
138    Marseille                 France    43.29      5.38       14.98
139        Mazyr                Belarus    52.05     29.27        6.25
140      Messina                  Italy    38.20     15.55       16.54
141         Metz                 France    49.12      6.18        8.88
142        Milan                  Italy    45.47      9.21        6.65
143        Minsk                Belarus    53.90     27.57        5.28
144  Montpellier                 France    43.61      3.87       11.11
145     Mulhouse                 France    47.75      7.35        6.68
146       Murcia                  Spain    37.98     -1.13       15.00
147         Nice                 France    43.72      7.27        8.82
148          Nis                 Serbia    43.33     21.90        9.36
149     Novi Sad                 Serbia    45.25     19.85       10.34
150       Odense                Denmark    55.40     10.38        7.73
151         Ordu                 Turkey    41.00     37.87       11.92
152        Orsha                Belarus    54.52     30.42        4.93
153         Oslo                 Norway    59.92     10.75        2.32
154      Ostrava         Czech Republic    49.83     18.25        7.66
155         Oulu                Finland    65.00     25.47        1.45
156       Oviedo                  Spain    43.35     -5.83       10.85
157      Palermo                  Italy    38.13     13.35       17.90
158       Patras                 Greece    38.23     21.73       16.90
159    Perpignan                 France    42.70      2.90       10.95
160      Perugia                  Italy    43.11     12.39       11.70
161      Pescara                  Italy    42.46     14.22       15.13
162        Pinsk                Belarus    52.13     26.09        6.42
163       Pleven               Bulgaria    43.42     24.61       10.51
164      Plovdiv               Bulgaria    42.15     24.75        8.27
165    Podgorica             Montenegro    42.47     19.27        9.99
166       Poznan                 Poland    52.41     16.90        8.31
167       Prague         Czech Republic    50.08     14.47        8.05
168        Reims                 France    49.25      4.03        9.40
169         Riga                 Latvia    56.95     24.10        5.16
170       Rijeka                Croatia    45.33     14.45        9.27
171        Rivne                Ukraine    50.62     26.25        6.76
172         Rome                  Italy    41.90     12.48       15.10
173      Rostock                Germany    54.07     12.15        8.07
174         Ruse               Bulgaria    43.85     25.97       10.59
175    Salamanca                  Spain    40.97     -5.67       11.63
176     Salzburg                Austria    47.81     13.04        4.62
177       Samsun                 Turkey    41.28     36.34       12.05
178    Santander                  Spain    43.38     -3.80       13.40
179     Sarajevo Bosnia and Herzegovina    43.85     13.38        9.60
180        Sibiu                Romania    45.80     24.14        6.97
181        Siirt                 Turkey    37.94     41.93       12.48
182        Sivas                 Turkey    39.75     37.03        8.05
183       Skopje              Macedonia    42.00     21.43        9.36
184        Split                Croatia    43.52     16.47       12.46
185 Stara Zagora               Bulgaria    42.42     25.62       10.90
186    Stavanger                 Norway    58.97      5.68        5.53
187    Stockholm                 Sweden    59.35     18.10        6.26
188         Sumy                Ukraine    50.92     34.78        6.28
189      Swansea         United Kingdom    51.63     -3.95        9.73
190       Szeged                Hungary    46.25     20.15       10.34
191      Tallinn                Estonia    59.43     24.73        4.82
192      Tampere                Finland    61.50     23.75        3.59
193       Tarsus                 Turkey    36.92     34.88       11.21
194        Tartu                Estonia    58.38     26.71        4.36
195     Tekirdag                 Turkey    40.99     27.51       13.02
196     Toulouse                 France    43.62      1.45       10.25
197      Trabzon                 Turkey    40.98     39.72       10.28
198      Trieste                  Italy    45.65     13.80       11.21
199      Trikala                 Greece    39.56     21.77       16.00
200    Trondheim                 Norway    63.42     10.42        4.53
201        Turku                Finland    60.45     22.25        4.72
202      Uppsala                 Sweden    59.86     17.64        4.17
203     Valencia                  Spain    39.49     -0.40       16.02
204       Vienna                Austria    48.20     16.37        7.86
205         Vigo                  Spain    42.22     -8.73       12.85
206      Vilnius              Lithuania    54.68     25.32        5.38
207       Warsaw                 Poland    52.25     21.00        7.20
208      Wroclaw                 Poland    51.11     17.03        7.17
209  Yevpatoriya                Ukraine    45.20     33.36       10.02
210     Zaragoza                  Spain    41.65     -0.89       14.17
211     Zhytomyr                Ukraine    50.25     28.66        6.67
212    Zonguldak                 Turkey    41.43     31.78       10.64
213       Zurich            Switzerland    47.38      8.56        6.68

In [8]:
%%R
print(nrow(cities))
print(ncol(cities))

[1] 213
[1] 5

In [9]:
%%R
cities[1,]

     city country latitude longitude temperature
1 Aalborg Denmark    57.03      9.92        7.52

In [10]:
%%R
cities[1:10,]

        city        country latitude longitude temperature
1    Aalborg        Denmark    57.03      9.92        7.52
2   Aberdeen United Kingdom    57.17     -2.08        8.10
3     Abisko         Sweden    63.35     18.83        0.20
4      Adana         Turkey    36.99     35.32       18.67
5   Albacete          Spain    39.00     -1.87       12.62
6  Algeciras          Spain    36.13     -5.47       17.38
7     Amiens         France    49.90      2.30       10.17
8  Amsterdam    Netherlands    52.35      4.92        8.93
9     Ancona          Italy    43.60     13.50       13.52
10   Andorra        Andorra    42.50      1.52        9.60

In [11]:
%%R
for (i in 1:10) { print(cities[i,]) }

     city country latitude longitude temperature
1 Aalborg Denmark    57.03      9.92        7.52
      city        country latitude longitude temperature
2 Aberdeen United Kingdom    57.17     -2.08         8.1
    city country latitude longitude temperature
3 Abisko  Sweden    63.35     18.83         0.2
   city country latitude longitude temperature
4 Adana  Turkey    36.99     35.32       18.67
      city country latitude longitude temperature
5 Albacete   Spain       39     -1.87       12.62
       city country latitude longitude temperature
6 Algeciras   Spain    36.13     -5.47       17.38
    city country latitude longitude temperature
7 Amiens  France     49.9       2.3       10.17
       city     country latitude longitude temperature
8 Amsterdam Netherlands    52.35      4.92        8.93
    city country latitude longitude temperature
9 Ancona   Italy     43.6      13.5       13.52
      city country latitude longitude temperature
10 Andorra Andorra     42.5      1.52         9.6

In [12]:
%%R
cities[,2]
# change to cities[,4]

  [1] "Denmark"                "United Kingdom"         "Sweden"
  [4] "Turkey"                 "Spain"                  "Spain"
  [7] "France"                 "Netherlands"            "Italy"
 [10] "Andorra"                "France"                 "Turkey"
 [13] "Turkey"                 "Romania"                "Greece"
 [16] "Germany"                "Romania"                "Spain"
 [19] "Romania"                "Moldova"                "Spain"
 [22] "Italy"                  "Switzerland"            "Turkey"
 [25] "United Kingdom"         "Serbia"                 "Italy"
 [28] "Norway"                 "Germany"                "Poland"
 [31] "Germany"                "Ukraine"                "Spain"
 [34] "United Kingdom"         "United Kingdom"         "Norway"
 [37] "Italy"                  "Germany"                "France"
 [40] "Romania"                "United Kingdom"         "United Kingdom"
 [43] "Portugal"               "Romania"                "Slovakia"
 [46] "Germany"                "France"                 "Belarus"
 [49] "Czech Republic"         "Belgium"                "Romania"
 [52] "Hungary"                "Bulgaria"               "Spain"
 [55] "Turkey"                 "Poland"                 "Poland"
 [58] "France"                 "United Kingdom"         "Spain"
 [61] "Italy"                  "Germany"                "Ukraine"
 [64] "Ukraine"                "Ukraine"                "Moldova"
 [67] "Romania"                "Ireland"                "Italy"
 [70] "Romania"                "Latvia"                 "Hungary"
 [73] "Turkey"                 "France"                 "Ireland"
 [76] "United Kingdom"         "United Kingdom"         "Turkey"
 [79] "Albania"                "Poland"                 "Germany"
 [82] "Turkey"                 "Turkey"                 "Turkey"
 [85] "United Kingdom"         "Italy"                  "Germany"
 [88] "Germany"                "Ireland"                "Turkey"
 [91] "Switzerland"            "Italy"                  "United Kingdom"
 [94] "Sweden"                 "Spain"                  "Austria"
 [97] "France"                 "Netherlands"            "Hungary"
[100] "Germany"                "Finland"                "Ukraine"
[103] "Belarus"                "Spain"                  "Germany"
[106] "Austria"                "United Kingdom"         "Turkey"
[109] "Greece"                 "Turkey"                 "Germany"
[112] "Lithuania"              "Turkey"                 "Ukraine"
[115] "Poland"                 "Ukraine"                "Sweden"
[118] "Lithuania"              "Slovakia"               "Poland"
[121] "Ukraine"                "Ukraine"                "France"
[124] "France"                 "France"                 "Austria"
[127] "Portugal"               "Slovenia"               "Ukraine"
[130] "Netherlands"            "Spain"                  "Germany"
[133] "Ukraine"                "Turkey"                 "Sweden"
[136] "Turkey"                 "Spain"                  "France"
[139] "Belarus"                "Italy"                  "France"
[142] "Italy"                  "Belarus"                "France"
[145] "France"                 "Spain"                  "France"
[148] "Serbia"                 "Serbia"                 "Denmark"
[151] "Turkey"                 "Belarus"                "Norway"
[154] "Czech Republic"         "Finland"                "Spain"
[157] "Italy"                  "Greece"                 "France"
[160] "Italy"                  "Italy"                  "Belarus"
[163] "Bulgaria"               "Bulgaria"               "Montenegro"
[166] "Poland"                 "Czech Republic"         "France"
[169] "Latvia"                 "Croatia"                "Ukraine"
[172] "Italy"                  "Germany"                "Bulgaria"
[175] "Spain"                  "Austria"                "Turkey"
[178] "Spain"                  "Bosnia and Herzegovina" "Romania"
[181] "Turkey"                 "Turkey"                 "Macedonia"
[184] "Croatia"                "Bulgaria"               "Norway"
[187] "Sweden"                 "Ukraine"                "United Kingdom"
[190] "Hungary"                "Estonia"                "Finland"
[193] "Turkey"                 "Estonia"                "Turkey"
[196] "France"                 "Turkey"                 "Italy"
[199] "Greece"                 "Norway"                 "Finland"
[202] "Sweden"                 "Spain"                  "Austria"
[205] "Spain"                  "Lithuania"              "Poland"
[208] "Poland"                 "Ukraine"                "Spain"
[211] "Ukraine"                "Turkey"                 "Switzerland"

In [13]:
%%R
cities[5,4]
# change to cities[5:10,2:4]

[1] -1.87

In [14]:
%%R
head(cities)
# also show number of rows, tail()

       city        country latitude longitude temperature
1   Aalborg        Denmark    57.03      9.92        7.52
2  Aberdeen United Kingdom    57.17     -2.08        8.10
3    Abisko         Sweden    63.35     18.83        0.20
4     Adana         Turkey    36.99     35.32       18.67
5  Albacete          Spain    39.00     -1.87       12.62
6 Algeciras          Spain    36.13     -5.47       17.38

#### Basic data operations

*Select single column*

In [15]:
%%R
cities[,'city']

  [1] "Aalborg"      "Aberdeen"     "Abisko"       "Adana"        "Albacete"
  [6] "Algeciras"    "Amiens"       "Amsterdam"    "Ancona"       "Andorra"
 [11] "Angers"       "Ankara"       "Antalya"      "Arad"         "Athens"
 [16] "Augsburg"     "Bacau"        "Badajoz"      "Baia Mare"    "Balti"
 [21] "Barcelona"    "Bari"         "Basel"        "Batman"       "Belfast"
 [26] "Belgrade"     "Bergamo"      "Bergen"       "Berlin"       "Bialystok"
 [31] "Bielefeld"    "Bila Tserkva" "Bilbao"       "Birmingham"   "Blackpool"
 [36] "Bodo"         "Bologna"      "Bonn"         "Bordeaux"     "Botosani"
 [41] "Bournemouth"  "Bradford"     "Braga"        "Braila"       "Bratislava"
 [46] "Bremen"       "Brest"        "Brest"        "Brno"         "Brugge"
 [51] "Bucharest"    "Budapest"     "Burgas"       "Burgos"       "Bursa"
 [56] "Bydgoszcz"    "Bytom"        "Caen"         "Cambridge"    "Cartagena"
 [61] "Catania"      "Chemnitz"     "Cherkasy"     "Chernihiv"    "Chernivtsi"
 [66] "Chisinau"     "Constanta"    "Cork"         "Cosenza"      "Craiova"
 [71] "Daugavpils"   "Debrecen"     "Denizli"      "Dijon"        "Dublin"
 [76] "Dundee"       "Edinburgh"    "Edirne"       "Elbasan"      "Elblag"
 [81] "Erfurt"       "Erzincan"     "Erzurum"      "Eskisehir"    "Exeter"
 [86] "Foggia"       "Frankfurt"    "Freiburg"     "Galway"       "Gaziantep"
 [91] "Geneva"       "Genoa"        "Glasgow"      "Göteborg"     "Granada"
 [96] "Graz"         "Grenoble"     "Groningen"    "Gyor"         "Heidelberg"
[101] "Helsinki"     "Horlivka"     "Hrodna"       "Huelva"       "Ingolstadt"
[106] "Innsbruck"    "Inverness"    "Istanbul"     "Kalamata"     "Karaman"
[111] "Karlsruhe"    "Kaunas"       "Kayseri"      "Kherson"      "Kielce"
[116] "Kiev"         "Kiruna"       "Klaipeda"     "Kosice"       "Koszalin"
[121] "Kremenchuk"   "Kryvyy Rih"   "Le Mans"      "Lille"        "Limoges"
[126] "Linz"         "Lisbon"       "Ljubljana"    "Lvov"         "Maastricht"
[131] "Madrid"       "Magdeburg"    "Makiyivka"    "Malatya"      "Malmö"
[136] "Manisa"       "Marbella"     "Marseille"    "Mazyr"        "Messina"
[141] "Metz"         "Milan"        "Minsk"        "Montpellier"  "Mulhouse"
[146] "Murcia"       "Nice"         "Nis"          "Novi Sad"     "Odense"
[151] "Ordu"         "Orsha"        "Oslo"         "Ostrava"      "Oulu"
[156] "Oviedo"       "Palermo"      "Patras"       "Perpignan"    "Perugia"
[161] "Pescara"      "Pinsk"        "Pleven"       "Plovdiv"      "Podgorica"
[166] "Poznan"       "Prague"       "Reims"        "Riga"         "Rijeka"
[171] "Rivne"        "Rome"         "Rostock"      "Ruse"         "Salamanca"
[176] "Salzburg"     "Samsun"       "Santander"    "Sarajevo"     "Sibiu"
[181] "Siirt"        "Sivas"        "Skopje"       "Split"        "Stara Zagora"
[186] "Stavanger"    "Stockholm"    "Sumy"         "Swansea"      "Szeged"
[191] "Tallinn"      "Tampere"      "Tarsus"       "Tartu"        "Tekirdag"
[196] "Toulouse"     "Trabzon"      "Trieste"      "Trikala"      "Trondheim"
[201] "Turku"        "Uppsala"      "Valencia"     "Vienna"       "Vigo"
[206] "Vilnius"      "Warsaw"       "Wroclaw"      "Yevpatoriya"  "Zaragoza"
[211] "Zhytomyr"     "Zonguldak"    "Zurich"

*Select multiple columns*

In [16]:
%%R
cities[,c('city','temperature')]

            city temperature
1        Aalborg        7.52
2       Aberdeen        8.10
3         Abisko        0.20
4          Adana       18.67
5       Albacete       12.62
6      Algeciras       17.38
7         Amiens       10.17
8      Amsterdam        8.93
9         Ancona       13.52
10       Andorra        9.60
11        Angers       10.98
12        Ankara        9.86
13       Antalya       11.88
14          Arad        9.32
15        Athens       17.41
16      Augsburg        4.54
17         Bacau        7.51
18       Badajoz       15.61
19     Baia Mare        8.87
20         Balti        8.23
21     Barcelona       15.78
22          Bari       15.15
23         Basel        6.68
24        Batman       14.16
25       Belfast        8.48
26      Belgrade        9.85
27       Bergamo        9.12
28        Bergen        1.75
29        Berlin        8.72
30     Bialystok        6.07
31     Bielefeld        8.78
32  Bila Tserkva        6.98
33        Bilbao       11.41
34    Birmingham        8.81
35     Blackpool        9.15
36          Bodo        4.50
37       Bologna       11.69
38          Bonn        8.63
39      Bordeaux       11.87
40      Botosani        8.23
41   Bournemouth        9.97
42      Bradford        8.39
43         Braga       13.42
44        Braila        9.78
45    Bratislava        9.65
46        Bremen        8.14
47         Brest       11.02
48         Brest        6.73
49          Brno        7.86
50        Brugge        9.65
51     Bucharest       10.59
52      Budapest        9.55
53        Burgas       11.93
54        Burgos       10.45
55         Bursa       11.16
56     Bydgoszcz        7.14
57         Bytom        7.66
58          Caen        9.96
59     Cambridge        9.25
60     Cartagena       17.32
61       Catania       15.04
62      Chemnitz        8.05
63      Cherkasy        7.19
64     Chernihiv        5.92
65    Chernivtsi        7.06
66      Chisinau        8.60
67     Constanta       11.24
68          Cork        9.41
69       Cosenza       16.60
70       Craiova       10.51
71    Daugavpils        5.38
72      Debrecen        8.87
73       Denizli       15.02
74         Dijon        8.69
75        Dublin        8.49
76        Dundee        6.40
77     Edinburgh        7.43
78        Edirne       10.90
79       Elbasan       15.18
80        Elblag        6.68
81        Erfurt        7.40
82      Erzincan        8.67
83       Erzurum        5.17
84     Eskisehir       11.11
85        Exeter       10.14
86        Foggia       13.83
87     Frankfurt        7.98
88      Freiburg        6.68
89        Galway       10.00
90     Gaziantep       13.46
91        Geneva        8.40
92         Genoa       12.94
93       Glasgow        8.60
94      Göteborg        5.76
95       Granada       16.33
96          Graz        6.91
97      Grenoble        8.40
98     Groningen        8.71
99          Gyor        9.65
100   Heidelberg        8.47
101     Helsinki        4.19
102     Horlivka        7.12
103       Hrodna        6.07
104       Huelva       17.09
105   Ingolstadt        7.57
106    Innsbruck        4.54
107    Inverness        8.00
108     Istanbul       13.20
109     Kalamata       17.30
110      Karaman       10.41
111    Karlsruhe        8.88
112       Kaunas        6.05
113      Kayseri        8.89
114      Kherson        8.64
115       Kielce        7.29
116         Kiev        6.88
117       Kiruna       -2.20
118     Klaipeda        7.00
119       Kosice        7.31
120     Koszalin        7.73
121   Kremenchuk        7.43
122   Kryvyy Rih        8.61
123      Le Mans       10.59
124        Lille        9.65
125      Limoges       10.32
126         Linz        6.79
127       Lisbon       15.52
128    Ljubljana        9.27
129         Lvov        7.04
130   Maastricht        8.63
131       Madrid       11.19
132    Magdeburg        8.26
133    Makiyivka        8.70
134      Malatya       14.13
135        Malmö        7.33
136       Manisa       15.10
137     Marbella       17.19
138    Marseille       14.98
139        Mazyr        6.25
140      Messina       16.54
141         Metz        8.88
142        Milan        6.65
143        Minsk        5.28
144  Montpellier       11.11
145     Mulhouse        6.68
146       Murcia       15.00
147         Nice        8.82
148          Nis        9.36
149     Novi Sad       10.34
150       Odense        7.73
151         Ordu       11.92
152        Orsha        4.93
153         Oslo        2.32
154      Ostrava        7.66
155         Oulu        1.45
156       Oviedo       10.85
157      Palermo       17.90
158       Patras       16.90
159    Perpignan       10.95
160      Perugia       11.70
161      Pescara       15.13
162        Pinsk        6.42
163       Pleven       10.51
164      Plovdiv        8.27
165    Podgorica        9.99
166       Poznan        8.31
167       Prague        8.05
168        Reims        9.40
169         Riga        5.16
170       Rijeka        9.27
171        Rivne        6.76
172         Rome       15.10
173      Rostock        8.07
174         Ruse       10.59
175    Salamanca       11.63
176     Salzburg        4.62
177       Samsun       12.05
178    Santander       13.40
179     Sarajevo        9.60
180        Sibiu        6.97
181        Siirt       12.48
182        Sivas        8.05
183       Skopje        9.36
184        Split       12.46
185 Stara Zagora       10.90
186    Stavanger        5.53
187    Stockholm        6.26
188         Sumy        6.28
189      Swansea        9.73
190       Szeged       10.34
191      Tallinn        4.82
192      Tampere        3.59
193       Tarsus       11.21
194        Tartu        4.36
195     Tekirdag       13.02
196     Toulouse       10.25
197      Trabzon       10.28
198      Trieste       11.21
199      Trikala       16.00
200    Trondheim        4.53
201        Turku        4.72
202      Uppsala        4.17
203     Valencia       16.02
204       Vienna        7.86
205         Vigo       12.85
206      Vilnius        5.38
207       Warsaw        7.20
208      Wroclaw        7.17
209  Yevpatoriya       10.02
210     Zaragoza       14.17
211     Zhytomyr        6.67
212    Zonguldak       10.64
213       Zurich        6.68

*Select rows*

In [17]:
%%R
cities[cities$longitude < 0,]

           city        country latitude longitude temperature
2      Aberdeen United Kingdom    57.17     -2.08        8.10
5      Albacete          Spain    39.00     -1.87       12.62
6     Algeciras          Spain    36.13     -5.47       17.38
11       Angers         France    47.48     -0.53       10.98
18      Badajoz          Spain    38.88     -6.97       15.61
25      Belfast United Kingdom    54.60     -5.96        8.48
33       Bilbao          Spain    43.25     -2.93       11.41
34   Birmingham United Kingdom    52.47     -1.92        8.81
35    Blackpool United Kingdom    53.83     -3.05        9.15
39     Bordeaux         France    44.85     -0.60       11.87
41  Bournemouth United Kingdom    50.73     -1.90        9.97
42     Bradford United Kingdom    53.80     -1.75        8.39
43        Braga       Portugal    41.55     -8.42       13.42
47        Brest         France    48.39     -4.50       11.02
54       Burgos          Spain    42.35     -3.68       10.45
58         Caen         France    49.18     -0.35        9.96
60    Cartagena          Spain    37.60     -0.98       17.32
68         Cork        Ireland    51.90     -8.50        9.41
75       Dublin        Ireland    53.33     -6.25        8.49
76       Dundee United Kingdom    56.47     -3.00        6.40
77    Edinburgh United Kingdom    55.95     -3.22        7.43
85       Exeter United Kingdom    50.70     -3.53       10.14
89       Galway        Ireland    53.27     -9.05       10.00
93      Glasgow United Kingdom    55.87     -4.25        8.60
95      Granada          Spain    37.16     -3.59       16.33
104      Huelva          Spain    37.25     -6.93       17.09
107   Inverness United Kingdom    57.47     -4.23        8.00
127      Lisbon       Portugal    38.72     -9.14       15.52
131      Madrid          Spain    40.40     -3.68       11.19
137    Marbella          Spain    36.52     -4.88       17.19
146      Murcia          Spain    37.98     -1.13       15.00
156      Oviedo          Spain    43.35     -5.83       10.85
175   Salamanca          Spain    40.97     -5.67       11.63
178   Santander          Spain    43.38     -3.80       13.40
189     Swansea United Kingdom    51.63     -3.95        9.73
203    Valencia          Spain    39.49     -0.40       16.02
205        Vigo          Spain    42.22     -8.73       12.85
210    Zaragoza          Spain    41.65     -0.89       14.17

*Select rows and columns*

In [18]:
%%R
cities[cities$latitude > 50 & cities$temperature > 9,
       c('city','latitude','temperature')]

           city latitude temperature
35    Blackpool    53.83        9.15
41  Bournemouth    50.73        9.97
50       Brugge    51.22        9.65
59    Cambridge    52.20        9.25
68         Cork    51.90        9.41
85       Exeter    50.70       10.14
89       Galway    53.27       10.00
124       Lille    50.65        9.65
189     Swansea    51.63        9.73

*Sort by temperature*

In [19]:
%%R
cities[order(cities$temperature),]
# descending using decreasing=TRUE
# add cities$country
# ascending country with descending temperature
# descending country with ascending temperature?

            city                country latitude longitude temperature
117       Kiruna                 Sweden    67.85     20.22       -2.20
3         Abisko                 Sweden    63.35     18.83        0.20
155         Oulu                Finland    65.00     25.47        1.45
28        Bergen                 Norway    60.39      5.32        1.75
153         Oslo                 Norway    59.92     10.75        2.32
192      Tampere                Finland    61.50     23.75        3.59
202      Uppsala                 Sweden    59.86     17.64        4.17
101     Helsinki                Finland    60.18     24.93        4.19
194        Tartu                Estonia    58.38     26.71        4.36
36          Bodo                 Norway    67.25     14.40        4.50
200    Trondheim                 Norway    63.42     10.42        4.53
16      Augsburg                Germany    48.35     10.90        4.54
106    Innsbruck                Austria    47.28     11.41        4.54
176     Salzburg                Austria    47.81     13.04        4.62
201        Turku                Finland    60.45     22.25        4.72
191      Tallinn                Estonia    59.43     24.73        4.82
152        Orsha                Belarus    54.52     30.42        4.93
169         Riga                 Latvia    56.95     24.10        5.16
83       Erzurum                 Turkey    39.92     41.29        5.17
143        Minsk                Belarus    53.90     27.57        5.28
71    Daugavpils                 Latvia    55.88     26.51        5.38
206      Vilnius              Lithuania    54.68     25.32        5.38
186    Stavanger                 Norway    58.97      5.68        5.53
94      Göteborg                 Sweden    57.75     12.00        5.76
64     Chernihiv                Ukraine    51.50     31.30        5.92
112       Kaunas              Lithuania    54.95     23.88        6.05
30     Bialystok                 Poland    53.15     23.17        6.07
103       Hrodna                Belarus    53.68     23.83        6.07
139        Mazyr                Belarus    52.05     29.27        6.25
187    Stockholm                 Sweden    59.35     18.10        6.26
188         Sumy                Ukraine    50.92     34.78        6.28
76        Dundee         United Kingdom    56.47     -3.00        6.40
162        Pinsk                Belarus    52.13     26.09        6.42
142        Milan                  Italy    45.47      9.21        6.65
211     Zhytomyr                Ukraine    50.25     28.66        6.67
23         Basel            Switzerland    47.58      7.59        6.68
80        Elblag                 Poland    54.19     19.40        6.68
88      Freiburg                Germany    48.00      7.87        6.68
145     Mulhouse                 France    47.75      7.35        6.68
213       Zurich            Switzerland    47.38      8.56        6.68
48         Brest                Belarus    52.10     23.70        6.73
171        Rivne                Ukraine    50.62     26.25        6.76
126         Linz                Austria    48.32     14.29        6.79
116         Kiev                Ukraine    50.43     30.52        6.88
96          Graz                Austria    47.08     15.41        6.91
180        Sibiu                Romania    45.80     24.14        6.97
32  Bila Tserkva                Ukraine    49.77     30.13        6.98
118     Klaipeda              Lithuania    55.72     21.12        7.00
129         Lvov                Ukraine    49.83     24.03        7.04
65    Chernivtsi                Ukraine    48.31     25.92        7.06
102     Horlivka                Ukraine    48.30     38.05        7.12
56     Bydgoszcz                 Poland    53.12     18.01        7.14
208      Wroclaw                 Poland    51.11     17.03        7.17
63      Cherkasy                Ukraine    49.43     32.07        7.19
207       Warsaw                 Poland    52.25     21.00        7.20
115       Kielce                 Poland    50.89     20.66        7.29
119       Kosice               Slovakia    48.73     21.25        7.31
135        Malmö                 Sweden    55.58     13.03        7.33
81        Erfurt                Germany    50.97     11.03        7.40
77     Edinburgh         United Kingdom    55.95     -3.22        7.43
121   Kremenchuk                Ukraine    49.08     33.43        7.43
17         Bacau                Romania    46.58     26.92        7.51
1        Aalborg                Denmark    57.03      9.92        7.52
105   Ingolstadt                Germany    48.77     11.45        7.57
57         Bytom                 Poland    50.35     18.91        7.66
154      Ostrava         Czech Republic    49.83     18.25        7.66
120     Koszalin                 Poland    54.20     16.18        7.73
150       Odense                Denmark    55.40     10.38        7.73
49          Brno         Czech Republic    49.20     16.61        7.86
204       Vienna                Austria    48.20     16.37        7.86
87     Frankfurt                Germany    50.10      8.68        7.98
107    Inverness         United Kingdom    57.47     -4.23        8.00
62      Chemnitz                Germany    50.83     12.92        8.05
167       Prague         Czech Republic    50.08     14.47        8.05
182        Sivas                 Turkey    39.75     37.03        8.05
173      Rostock                Germany    54.07     12.15        8.07
2       Aberdeen         United Kingdom    57.17     -2.08        8.10
46        Bremen                Germany    53.08      8.80        8.14
20         Balti                Moldova    47.76     27.91        8.23
40      Botosani                Romania    47.75     26.66        8.23
132    Magdeburg                Germany    52.13     11.62        8.26
164      Plovdiv               Bulgaria    42.15     24.75        8.27
166       Poznan                 Poland    52.41     16.90        8.31
42      Bradford         United Kingdom    53.80     -1.75        8.39
91        Geneva            Switzerland    46.21      6.14        8.40
97      Grenoble                 France    45.18      5.72        8.40
100   Heidelberg                Germany    49.42      8.70        8.47
25       Belfast         United Kingdom    54.60     -5.96        8.48
75        Dublin                Ireland    53.33     -6.25        8.49
66      Chisinau                Moldova    47.01     28.86        8.60
93       Glasgow         United Kingdom    55.87     -4.25        8.60
122   Kryvyy Rih                Ukraine    47.93     33.34        8.61
38          Bonn                Germany    50.72      7.08        8.63
130   Maastricht            Netherlands    50.85      5.68        8.63
114      Kherson                Ukraine    46.63     32.60        8.64
82      Erzincan                 Turkey    39.75     39.49        8.67
74         Dijon                 France    47.33      5.03        8.69
133    Makiyivka                Ukraine    48.03     37.97        8.70
98     Groningen            Netherlands    53.22      6.58        8.71
29        Berlin                Germany    52.52     13.40        8.72
31     Bielefeld                Germany    52.03      8.53        8.78
34    Birmingham         United Kingdom    52.47     -1.92        8.81
147         Nice                 France    43.72      7.27        8.82
19     Baia Mare                Romania    47.66     23.58        8.87
72      Debrecen                Hungary    47.53     21.63        8.87
111    Karlsruhe                Germany    49.00      8.40        8.88
141         Metz                 France    49.12      6.18        8.88
113      Kayseri                 Turkey    38.73     35.49        8.89
8      Amsterdam            Netherlands    52.35      4.92        8.93
27       Bergamo                  Italy    45.70      9.67        9.12
35     Blackpool         United Kingdom    53.83     -3.05        9.15
59     Cambridge         United Kingdom    52.20      0.12        9.25
128    Ljubljana               Slovenia    46.06     14.51        9.27
170       Rijeka                Croatia    45.33     14.45        9.27
14          Arad                Romania    46.17     21.32        9.32
148          Nis                 Serbia    43.33     21.90        9.36
183       Skopje              Macedonia    42.00     21.43        9.36
168        Reims                 France    49.25      4.03        9.40
68          Cork                Ireland    51.90     -8.50        9.41
52      Budapest                Hungary    47.50     19.08        9.55
10       Andorra                Andorra    42.50      1.52        9.60
179     Sarajevo Bosnia and Herzegovina    43.85     13.38        9.60
45    Bratislava               Slovakia    48.15     17.12        9.65
50        Brugge                Belgium    51.22      3.23        9.65
99          Gyor                Hungary    47.70     17.63        9.65
124        Lille                 France    50.65      3.08        9.65
189      Swansea         United Kingdom    51.63     -3.95        9.73
44        Braila                Romania    45.29     27.97        9.78
26      Belgrade                 Serbia    44.82     20.47        9.85
12        Ankara                 Turkey    39.93     32.86        9.86
58          Caen                 France    49.18     -0.35        9.96
41   Bournemouth         United Kingdom    50.73     -1.90        9.97
165    Podgorica             Montenegro    42.47     19.27        9.99
89        Galway                Ireland    53.27     -9.05       10.00
209  Yevpatoriya                Ukraine    45.20     33.36       10.02
85        Exeter         United Kingdom    50.70     -3.53       10.14
7         Amiens                 France    49.90      2.30       10.17
196     Toulouse                 France    43.62      1.45       10.25
197      Trabzon                 Turkey    40.98     39.72       10.28
125      Limoges                 France    45.83      1.25       10.32
149     Novi Sad                 Serbia    45.25     19.85       10.34
190       Szeged                Hungary    46.25     20.15       10.34
110      Karaman                 Turkey    37.18     33.22       10.41
54        Burgos                  Spain    42.35     -3.68       10.45
70       Craiova                Romania    44.33     23.83       10.51
163       Pleven               Bulgaria    43.42     24.61       10.51
51     Bucharest                Romania    44.43     26.10       10.59
123      Le Mans                 France    48.00      0.10       10.59
174         Ruse               Bulgaria    43.85     25.97       10.59
212    Zonguldak                 Turkey    41.43     31.78       10.64
156       Oviedo                  Spain    43.35     -5.83       10.85
78        Edirne                 Turkey    41.67     26.57       10.90
185 Stara Zagora               Bulgaria    42.42     25.62       10.90
159    Perpignan                 France    42.70      2.90       10.95
11        Angers                 France    47.48     -0.53       10.98
47         Brest                 France    48.39     -4.50       11.02
84     Eskisehir                 Turkey    39.79     30.53       11.11
144  Montpellier                 France    43.61      3.87       11.11
55         Bursa                 Turkey    40.20     29.07       11.16
131       Madrid                  Spain    40.40     -3.68       11.19
193       Tarsus                 Turkey    36.92     34.88       11.21
198      Trieste                  Italy    45.65     13.80       11.21
67     Constanta                Romania    44.20     28.61       11.24
33        Bilbao                  Spain    43.25     -2.93       11.41
175    Salamanca                  Spain    40.97     -5.67       11.63
37       Bologna                  Italy    44.50     11.34       11.69
160      Perugia                  Italy    43.11     12.39       11.70
39      Bordeaux                 France    44.85     -0.60       11.87
13       Antalya                 Turkey    36.89     30.70       11.88
151         Ordu                 Turkey    41.00     37.87       11.92
53        Burgas               Bulgaria    42.51     27.47       11.93
177       Samsun                 Turkey    41.28     36.34       12.05
184        Split                Croatia    43.52     16.47       12.46
181        Siirt                 Turkey    37.94     41.93       12.48
5       Albacete                  Spain    39.00     -1.87       12.62
205         Vigo                  Spain    42.22     -8.73       12.85
92         Genoa                  Italy    44.41      8.93       12.94
195     Tekirdag                 Turkey    40.99     27.51       13.02
108     Istanbul                 Turkey    41.10     29.01       13.20
178    Santander                  Spain    43.38     -3.80       13.40
43         Braga               Portugal    41.55     -8.42       13.42
90     Gaziantep                 Turkey    37.07     37.38       13.46
9         Ancona                  Italy    43.60     13.50       13.52
86        Foggia                  Italy    41.46     15.56       13.83
134      Malatya                 Turkey    38.37     38.30       14.13
24        Batman                 Turkey    37.89     41.14       14.16
210     Zaragoza                  Spain    41.65     -0.89       14.17
138    Marseille                 France    43.29      5.38       14.98
146       Murcia                  Spain    37.98     -1.13       15.00
73       Denizli                 Turkey    37.77     29.08       15.02
61       Catania                  Italy    37.50     15.08       15.04
136       Manisa                 Turkey    38.63     27.44       15.10
172         Rome                  Italy    41.90     12.48       15.10
161      Pescara                  Italy    42.46     14.22       15.13
22          Bari                  Italy    41.11     16.87       15.15
79       Elbasan                Albania    41.12     20.08       15.18
127       Lisbon               Portugal    38.72     -9.14       15.52
18       Badajoz                  Spain    38.88     -6.97       15.61
21     Barcelona                  Spain    41.38      2.18       15.78
199      Trikala                 Greece    39.56     21.77       16.00
203     Valencia                  Spain    39.49     -0.40       16.02
95       Granada                  Spain    37.16     -3.59       16.33
140      Messina                  Italy    38.20     15.55       16.54
69       Cosenza                  Italy    39.27     16.29       16.60
158       Patras                 Greece    38.23     21.73       16.90
104       Huelva                  Spain    37.25     -6.93       17.09
137     Marbella                  Spain    36.52     -4.88       17.19
109     Kalamata                 Greece    37.04     22.11       17.30
60     Cartagena                  Spain    37.60     -0.98       17.32
6      Algeciras                  Spain    36.13     -5.47       17.38
15        Athens                 Greece    37.98     23.73       17.41
157      Palermo                  Italy    38.13     13.35       17.90
4          Adana                 Turkey    36.99     35.32       18.67

*Selection plus sort*

In [20]:
%%R
cities2 <- cities[cities$longitude < 0 & cities$temperature > 12,
                  c('city','temperature')]
cities2[order(cities2$temperature),]

         city temperature
5    Albacete       12.62
205      Vigo       12.85
178 Santander       13.40
43      Braga       13.42
210  Zaragoza       14.17
146    Murcia       15.00
127    Lisbon       15.52
18    Badajoz       15.61
203  Valencia       16.02
95    Granada       16.33
104    Huelva       17.09
137  Marbella       17.19
60  Cartagena       17.32
6   Algeciras       17.38

### <font color="green">**Your Turn**</font>

*Find all countries that are not in the EU and don't have coastline, together with their populations, sorted by country name in reverse alphabetical order. Note: equality uses '==' and strings can be single (') or double (") quoted.*

In [21]:
%%R
countries2 <- countries[countries$EU == 'no' & countries$coastline == 'no',
                        c('country','population')]
countries2[order(countries2$country, decreasing=TRUE),]

         country population
39   Switzerland       8.38
34        Serbia       8.81
27       Moldova       4.06
26     Macedonia       2.08
23 Liechtenstein       0.04
21        Kosovo       1.91
4        Belarus       9.48
2        Andorra       0.07

#### Aggregation

*Overall average temperature*

In [22]:
%%R
mean(cities$temperature)

[1] 9.49784

*Average temperature of cities in each country*

In [23]:
%%R
aggregate(cities$temperature, by=list(cities$country), FUN=mean)

                  Group.1         x
1                 Albania 15.180000
2                 Andorra  9.600000
3                 Austria  6.144000
4                 Belarus  5.946667
5                 Belgium  9.650000
6  Bosnia and Herzegovina  9.600000
7                Bulgaria 10.440000
8                 Croatia 10.865000
9          Czech Republic  7.856667
10                Denmark  7.625000
11                Estonia  4.590000
12                Finland  3.487500
13                 France 10.151111
14                Germany  7.869286
15                 Greece 16.902500
16                Hungary  9.602500
17                Ireland  9.300000
18                  Italy 13.474667
19                 Latvia  5.270000
20              Lithuania  6.143333
21              Macedonia  9.360000
22                Moldova  8.415000
23             Montenegro  9.990000
24            Netherlands  8.756667
25                 Norway  3.726000
26                 Poland  7.250000
27               Portugal 14.470000
28                Romania  9.224444
29                 Serbia  9.850000
30               Slovakia  8.480000
31               Slovenia  9.270000
32                  Spain 14.238333
33                 Sweden  3.586667
34            Switzerland  7.253333
35                 Turkey 11.726667
36                Ukraine  7.420000
37         United Kingdom  8.650000

*More examples*

In [24]:
%%R
print(min(cities$temperature))
print(max(cities$temperature))

[1] -2.2
[1] 18.67

In [25]:
%%R
aggregate(countries$population, by=list(countries$EU,countries$coastline), FUN=mean)

  Group.1 Group.2        x
1      no      no  4.35375
2     yes      no  6.99000
3      no     yes 19.59571
4     yes     yes 21.37818

*Number of cities west of the Prime Meridian (i.e., longitude < 0) - error then fix*

In [33]:
%%R
count(cities[cities$longitude < 0,])

   n
1 38

### <font color="green">**Your Turn**</font>

*Considering only cities with latitude < 40, find the average temperature for each country. Then considering only cities with latitude > 60, find the average temperature for each country. Hint: Create temporary dataframes for cities with latitude < 40 and cities with latitude > 60, then use aggregate() on these dataframes. Remember print() is needed to see a result unless it's the last line.*

In [28]:
%%R
south <- cities[cities$latitude < 40,]
north <- cities[cities$latitude > 60,]
print(aggregate(south$temperature, by=list(south$country), FUN=mean))
print(aggregate(north$temperature, by=list(north$country), FUN=mean))

   Group.1        x
1   Greece 16.90250
2    Italy 16.52000
3 Portugal 15.52000
4    Spain 16.06222
5   Turkey 11.76688
  Group.1         x
1 Finland  3.487500
2  Norway  3.593333
3  Sweden -1.000000

#### Joining

In [29]:
%%R
merge(cities,countries)

                   country         city latitude longitude temperature
1                  Albania      Elbasan    41.12     20.08       15.18
2                  Andorra      Andorra    42.50      1.52        9.60
3                  Austria         Linz    48.32     14.29        6.79
4                  Austria       Vienna    48.20     16.37        7.86
5                  Austria         Graz    47.08     15.41        6.91
6                  Austria     Salzburg    47.81     13.04        4.62
7                  Austria    Innsbruck    47.28     11.41        4.54
8                  Belarus        Mazyr    52.05     29.27        6.25
9                  Belarus       Hrodna    53.68     23.83        6.07
10                 Belarus        Brest    52.10     23.70        6.73
11                 Belarus        Minsk    53.90     27.57        5.28
12                 Belarus        Orsha    54.52     30.42        4.93
13                 Belarus        Pinsk    52.13     26.09        6.42
14                 Belgium       Brugge    51.22      3.23        9.65
15  Bosnia and Herzegovina     Sarajevo    43.85     13.38        9.60
16                Bulgaria       Pleven    43.42     24.61       10.51
17                Bulgaria Stara Zagora    42.42     25.62       10.90
18                Bulgaria         Ruse    43.85     25.97       10.59
19                Bulgaria      Plovdiv    42.15     24.75        8.27
20                Bulgaria       Burgas    42.51     27.47       11.93
21                 Croatia        Split    43.52     16.47       12.46
22                 Croatia       Rijeka    45.33     14.45        9.27
23          Czech Republic         Brno    49.20     16.61        7.86
24          Czech Republic       Prague    50.08     14.47        8.05
25          Czech Republic      Ostrava    49.83     18.25        7.66
26                 Denmark      Aalborg    57.03      9.92        7.52
27                 Denmark       Odense    55.40     10.38        7.73
28                 Estonia        Tartu    58.38     26.71        4.36
29                 Estonia      Tallinn    59.43     24.73        4.82
30                 Finland      Tampere    61.50     23.75        3.59
31                 Finland         Oulu    65.00     25.47        1.45
32                 Finland        Turku    60.45     22.25        4.72
33                 Finland     Helsinki    60.18     24.93        4.19
34                  France       Amiens    49.90      2.30       10.17
35                  France        Lille    50.65      3.08        9.65
36                  France    Perpignan    42.70      2.90       10.95
37                  France         Metz    49.12      6.18        8.88
38                  France        Reims    49.25      4.03        9.40
39                  France        Dijon    47.33      5.03        8.69
40                  France     Mulhouse    47.75      7.35        6.68
41                  France         Caen    49.18     -0.35        9.96
42                  France        Brest    48.39     -4.50       11.02
43                  France     Bordeaux    44.85     -0.60       11.87
44                  France    Marseille    43.29      5.38       14.98
45                  France     Grenoble    45.18      5.72        8.40
46                  France      Le Mans    48.00      0.10       10.59
47                  France      Limoges    45.83      1.25       10.32
48                  France     Toulouse    43.62      1.45       10.25
49                  France  Montpellier    43.61      3.87       11.11
50                  France       Angers    47.48     -0.53       10.98
51                  France         Nice    43.72      7.27        8.82
52                 Germany     Freiburg    48.00      7.87        6.68
53                 Germany       Bremen    53.08      8.80        8.14
54                 Germany     Chemnitz    50.83     12.92        8.05
55                 Germany   Heidelberg    49.42      8.70        8.47
56                 Germany   Ingolstadt    48.77     11.45        7.57
57                 Germany    Magdeburg    52.13     11.62        8.26
58                 Germany    Karlsruhe    49.00      8.40        8.88
59                 Germany     Augsburg    48.35     10.90        4.54
60                 Germany    Frankfurt    50.10      8.68        7.98
61                 Germany    Bielefeld    52.03      8.53        8.78
62                 Germany      Rostock    54.07     12.15        8.07
63                 Germany         Bonn    50.72      7.08        8.63
64                 Germany       Erfurt    50.97     11.03        7.40
65                 Germany       Berlin    52.52     13.40        8.72
66                  Greece      Trikala    39.56     21.77       16.00
67                  Greece       Patras    38.23     21.73       16.90
68                  Greece       Athens    37.98     23.73       17.41
69                  Greece     Kalamata    37.04     22.11       17.30
70                 Hungary     Budapest    47.50     19.08        9.55
71                 Hungary     Debrecen    47.53     21.63        8.87
72                 Hungary       Szeged    46.25     20.15       10.34
73                 Hungary         Gyor    47.70     17.63        9.65
74                 Ireland         Cork    51.90     -8.50        9.41
75                 Ireland       Galway    53.27     -9.05       10.00
76                 Ireland       Dublin    53.33     -6.25        8.49
77                   Italy       Foggia    41.46     15.56       13.83
78                   Italy        Milan    45.47      9.21        6.65
79                   Italy      Perugia    43.11     12.39       11.70
80                   Italy         Rome    41.90     12.48       15.10
81                   Italy      Catania    37.50     15.08       15.04
82                   Italy      Cosenza    39.27     16.29       16.60
83                   Italy         Bari    41.11     16.87       15.15
84                   Italy      Bologna    44.50     11.34       11.69
85                   Italy      Palermo    38.13     13.35       17.90
86                   Italy      Pescara    42.46     14.22       15.13
87                   Italy        Genoa    44.41      8.93       12.94
88                   Italy       Ancona    43.60     13.50       13.52
89                   Italy      Bergamo    45.70      9.67        9.12
90                   Italy      Trieste    45.65     13.80       11.21
91                   Italy      Messina    38.20     15.55       16.54
92                  Latvia   Daugavpils    55.88     26.51        5.38
93                  Latvia         Riga    56.95     24.10        5.16
94               Lithuania       Kaunas    54.95     23.88        6.05
95               Lithuania      Vilnius    54.68     25.32        5.38
96               Lithuania     Klaipeda    55.72     21.12        7.00
97               Macedonia       Skopje    42.00     21.43        9.36
98                 Moldova     Chisinau    47.01     28.86        8.60
99                 Moldova        Balti    47.76     27.91        8.23
100             Montenegro    Podgorica    42.47     19.27        9.99
101            Netherlands    Amsterdam    52.35      4.92        8.93
102            Netherlands    Groningen    53.22      6.58        8.71
103            Netherlands   Maastricht    50.85      5.68        8.63
104                 Norway         Oslo    59.92     10.75        2.32
105                 Norway         Bodo    67.25     14.40        4.50
106                 Norway       Bergen    60.39      5.32        1.75
107                 Norway    Trondheim    63.42     10.42        4.53
108                 Norway    Stavanger    58.97      5.68        5.53
109                 Poland        Bytom    50.35     18.91        7.66
110                 Poland       Kielce    50.89     20.66        7.29
111                 Poland      Wroclaw    51.11     17.03        7.17
112                 Poland    Bydgoszcz    53.12     18.01        7.14
113                 Poland     Koszalin    54.20     16.18        7.73
114                 Poland    Bialystok    53.15     23.17        6.07
115                 Poland       Warsaw    52.25     21.00        7.20
116                 Poland       Elblag    54.19     19.40        6.68
117                 Poland       Poznan    52.41     16.90        8.31
118               Portugal        Braga    41.55     -8.42       13.42
119               Portugal       Lisbon    38.72     -9.14       15.52
120                Romania       Braila    45.29     27.97        9.78
121                Romania    Baia Mare    47.66     23.58        8.87
122                Romania     Botosani    47.75     26.66        8.23
123                Romania         Arad    46.17     21.32        9.32
124                Romania      Craiova    44.33     23.83       10.51
125                Romania    Constanta    44.20     28.61       11.24
126                Romania        Bacau    46.58     26.92        7.51
127                Romania        Sibiu    45.80     24.14        6.97
128                Romania    Bucharest    44.43     26.10       10.59
129                 Serbia          Nis    43.33     21.90        9.36
130                 Serbia     Novi Sad    45.25     19.85       10.34
131                 Serbia     Belgrade    44.82     20.47        9.85
132               Slovakia       Kosice    48.73     21.25        7.31
133               Slovakia   Bratislava    48.15     17.12        9.65
134               Slovenia    Ljubljana    46.06     14.51        9.27
135                  Spain         Vigo    42.22     -8.73       12.85
136                  Spain    Cartagena    37.60     -0.98       17.32
137                  Spain       Madrid    40.40     -3.68       11.19
138                  Spain     Albacete    39.00     -1.87       12.62
139                  Spain    Santander    43.38     -3.80       13.40
140                  Spain     Zaragoza    41.65     -0.89       14.17
141                  Spain    Barcelona    41.38      2.18       15.78
142                  Spain       Bilbao    43.25     -2.93       11.41
143                  Spain      Badajoz    38.88     -6.97       15.61
144                  Spain    Algeciras    36.13     -5.47       17.38
145                  Spain       Murcia    37.98     -1.13       15.00
146                  Spain      Granada    37.16     -3.59       16.33
147                  Spain       Oviedo    43.35     -5.83       10.85
148                  Spain       Huelva    37.25     -6.93       17.09
149                  Spain    Salamanca    40.97     -5.67       11.63
150                  Spain     Marbella    36.52     -4.88       17.19
151                  Spain       Burgos    42.35     -3.68       10.45
152                  Spain     Valencia    39.49     -0.40       16.02
153                 Sweden     Göteborg    57.75     12.00        5.76
154                 Sweden      Uppsala    59.86     17.64        4.17
155                 Sweden        Malmö    55.58     13.03        7.33
156                 Sweden       Kiruna    67.85     20.22       -2.20
157                 Sweden       Abisko    63.35     18.83        0.20
158                 Sweden    Stockholm    59.35     18.10        6.26
159            Switzerland       Zurich    47.38      8.56        6.68
160            Switzerland        Basel    47.58      7.59        6.68
161            Switzerland       Geneva    46.21      6.14        8.40
162                 Turkey         Ordu    41.00     37.87       11.92
163                 Turkey      Denizli    37.77     29.08       15.02
164                 Turkey        Sivas    39.75     37.03        8.05
165                 Turkey    Gaziantep    37.07     37.38       13.46
166                 Turkey       Batman    37.89     41.14       14.16
167                 Turkey    Zonguldak    41.43     31.78       10.64
168                 Turkey    Eskisehir    39.79     30.53       11.11
169                 Turkey     Tekirdag    40.99     27.51       13.02
170                 Turkey        Adana    36.99     35.32       18.67
171                 Turkey       Tarsus    36.92     34.88       11.21
172                 Turkey      Antalya    36.89     30.70       11.88
173                 Turkey        Siirt    37.94     41.93       12.48
174                 Turkey      Kayseri    38.73     35.49        8.89
175                 Turkey      Trabzon    40.98     39.72       10.28
176                 Turkey      Karaman    37.18     33.22       10.41
177                 Turkey     Erzincan    39.75     39.49        8.67
178                 Turkey       Ankara    39.93     32.86        9.86
179                 Turkey       Samsun    41.28     36.34       12.05
180                 Turkey      Erzurum    39.92     41.29        5.17
181                 Turkey       Manisa    38.63     27.44       15.10
182                 Turkey       Edirne    41.67     26.57       10.90
183                 Turkey     Istanbul    41.10     29.01       13.20
184                 Turkey        Bursa    40.20     29.07       11.16
185                 Turkey      Malatya    38.37     38.30       14.13
186                Ukraine Bila Tserkva    49.77     30.13        6.98
187                Ukraine     Cherkasy    49.43     32.07        7.19
188                Ukraine         Lvov    49.83     24.03        7.04
189                Ukraine      Kherson    46.63     32.60        8.64
190                Ukraine   Kryvyy Rih    47.93     33.34        8.61
191                Ukraine  Yevpatoriya    45.20     33.36       10.02
192                Ukraine     Horlivka    48.30     38.05        7.12
193                Ukraine    Chernihiv    51.50     31.30        5.92
194                Ukraine         Kiev    50.43     30.52        6.88
195                Ukraine   Chernivtsi    48.31     25.92        7.06
196                Ukraine     Zhytomyr    50.25     28.66        6.67
197                Ukraine    Makiyivka    48.03     37.97        8.70
198                Ukraine         Sumy    50.92     34.78        6.28
199                Ukraine   Kremenchuk    49.08     33.43        7.43
200                Ukraine        Rivne    50.62     26.25        6.76
201         United Kingdom     Aberdeen    57.17     -2.08        8.10
202         United Kingdom      Swansea    51.63     -3.95        9.73
203         United Kingdom       Exeter    50.70     -3.53       10.14
204         United Kingdom    Cambridge    52.20      0.12        9.25
205         United Kingdom    Edinburgh    55.95     -3.22        7.43
206         United Kingdom   Birmingham    52.47     -1.92        8.81
207         United Kingdom    Blackpool    53.83     -3.05        9.15
208         United Kingdom       Dundee    56.47     -3.00        6.40
209         United Kingdom  Bournemouth    50.73     -1.90        9.97
210         United Kingdom      Belfast    54.60     -5.96        8.48
211         United Kingdom      Glasgow    55.87     -4.25        8.60
212         United Kingdom    Inverness    57.47     -4.23        8.00
213         United Kingdom     Bradford    53.80     -1.75        8.39
    population  EU coastline
1         2.90  no       yes
2         0.07  no        no
3         8.57 yes        no
4         8.57 yes        no
5         8.57 yes        no
6         8.57 yes        no
7         8.57 yes        no
8         9.48  no        no
9         9.48  no        no
10        9.48  no        no
11        9.48  no        no
12        9.48  no        no
13        9.48  no        no
14       11.37 yes       yes
15        3.80  no       yes
16        7.10 yes       yes
17        7.10 yes       yes
18        7.10 yes       yes
19        7.10 yes       yes
20        7.10 yes       yes
21        4.23 yes       yes
22        4.23 yes       yes
23       10.55 yes        no
24       10.55 yes        no
25       10.55 yes        no
26        5.69 yes       yes
27        5.69 yes       yes
28        1.31 yes       yes
29        1.31 yes       yes
30        5.52 yes       yes
31        5.52 yes       yes
32        5.52 yes       yes
33        5.52 yes       yes
34       64.67 yes       yes
35       64.67 yes       yes
36       64.67 yes       yes
37       64.67 yes       yes
38       64.67 yes       yes
39       64.67 yes       yes
40       64.67 yes       yes
41       64.67 yes       yes
42       64.67 yes       yes
43       64.67 yes       yes
44       64.67 yes       yes
45       64.67 yes       yes
46       64.67 yes       yes
47       64.67 yes       yes
48       64.67 yes       yes
49       64.67 yes       yes
50       64.67 yes       yes
51       64.67 yes       yes
52       80.68 yes       yes
53       80.68 yes       yes
54       80.68 yes       yes
55       80.68 yes       yes
56       80.68 yes       yes
57       80.68 yes       yes
58       80.68 yes       yes
59       80.68 yes       yes
60       80.68 yes       yes
61       80.68 yes       yes
62       80.68 yes       yes
63       80.68 yes       yes
64       80.68 yes       yes
65       80.68 yes       yes
66       10.92 yes       yes
67       10.92 yes       yes
68       10.92 yes       yes
69       10.92 yes       yes
70        9.82 yes        no
71        9.82 yes        no
72        9.82 yes        no
73        9.82 yes        no
74        4.71 yes       yes
75        4.71 yes       yes
76        4.71 yes       yes
77       59.80 yes       yes
78       59.80 yes       yes
79       59.80 yes       yes
80       59.80 yes       yes
81       59.80 yes       yes
82       59.80 yes       yes
83       59.80 yes       yes
84       59.80 yes       yes
85       59.80 yes       yes
86       59.80 yes       yes
87       59.80 yes       yes
88       59.80 yes       yes
89       59.80 yes       yes
90       59.80 yes       yes
91       59.80 yes       yes
92        1.96 yes       yes
93        1.96 yes       yes
94        2.85 yes       yes
95        2.85 yes       yes
96        2.85 yes       yes
97        2.08  no        no
98        4.06  no        no
99        4.06  no        no
100       0.63  no       yes
101      16.98 yes       yes
102      16.98 yes       yes
103      16.98 yes       yes
104       5.27  no       yes
105       5.27  no       yes
106       5.27  no       yes
107       5.27  no       yes
108       5.27  no       yes
109      38.59 yes       yes
110      38.59 yes       yes
111      38.59 yes       yes
112      38.59 yes       yes
113      38.59 yes       yes
114      38.59 yes       yes
115      38.59 yes       yes
116      38.59 yes       yes
117      38.59 yes       yes
118      10.30 yes       yes
119      10.30 yes       yes
120      19.37 yes       yes
121      19.37 yes       yes
122      19.37 yes       yes
123      19.37 yes       yes
124      19.37 yes       yes
125      19.37 yes       yes
126      19.37 yes       yes
127      19.37 yes       yes
128      19.37 yes       yes
129       8.81  no        no
130       8.81  no        no
131       8.81  no        no
132       5.43 yes        no
133       5.43 yes        no
134       2.07 yes       yes
135      46.06 yes       yes
136      46.06 yes       yes
137      46.06 yes       yes
138      46.06 yes       yes
139      46.06 yes       yes
140      46.06 yes       yes
141      46.06 yes       yes
142      46.06 yes       yes
143      46.06 yes       yes
144      46.06 yes       yes
145      46.06 yes       yes
146      46.06 yes       yes
147      46.06 yes       yes
148      46.06 yes       yes
149      46.06 yes       yes
150      46.06 yes       yes
151      46.06 yes       yes
152      46.06 yes       yes
153       9.85 yes       yes
154       9.85 yes       yes
155       9.85 yes       yes
156       9.85 yes       yes
157       9.85 yes       yes
158       9.85 yes       yes
159       8.38  no        no
160       8.38  no        no
161       8.38  no        no
162      79.62  no       yes
163      79.62  no       yes
164      79.62  no       yes

*Cities not in the EU with latitude > 50; return city, country, latitude, and whether country has coastline*

In [34]:
%%R
citiesext <- merge(cities,countries)
citiesext[citiesext$EU == 'no' & citiesext$latitude > 50,
          c('city','country','latitude','coastline')]

         city country latitude coastline
8       Mazyr Belarus    52.05        no
9      Hrodna Belarus    53.68        no
10      Brest Belarus    52.10        no
11      Minsk Belarus    53.90        no
12      Orsha Belarus    54.52        no
13      Pinsk Belarus    52.13        no
104      Oslo  Norway    59.92       yes
105      Bodo  Norway    67.25       yes
106    Bergen  Norway    60.39       yes
107 Trondheim  Norway    63.42       yes
108 Stavanger  Norway    58.97       yes
193 Chernihiv Ukraine    51.50       yes
194      Kiev Ukraine    50.43       yes
196  Zhytomyr Ukraine    50.25       yes
198      Sumy Ukraine    50.92       yes
200     Rivne Ukraine    50.62       yes

#### Miscellaneous features

*String operations - countries with 'ia' in their name*

In [35]:
%%R
countries[grepl('ia',countries$country),]

                  country population  EU coastline
1                 Albania       2.90  no       yes
3                 Austria       8.57 yes        no
6  Bosnia and Herzegovina       3.80  no       yes
7                Bulgaria       7.10 yes       yes
8                 Croatia       4.23 yes       yes
12                Estonia       1.31 yes       yes
22                 Latvia       1.96 yes       yes
24              Lithuania       2.85 yes       yes
26              Macedonia       2.08  no        no
33                Romania      19.37 yes       yes
34                 Serbia       8.81  no        no
35               Slovakia       5.43 yes        no
36               Slovenia       2.07 yes       yes

*Add fahrenheit column*

In [36]:
%%R
cities['fahrenheit'] <- (cities$temperature * 9/5) + 32
head(cities, 10)

        city        country latitude longitude temperature fahrenheit
1    Aalborg        Denmark    57.03      9.92        7.52     45.536
2   Aberdeen United Kingdom    57.17     -2.08        8.10     46.580
3     Abisko         Sweden    63.35     18.83        0.20     32.360
4      Adana         Turkey    36.99     35.32       18.67     65.606
5   Albacete          Spain    39.00     -1.87       12.62     54.716
6  Algeciras          Spain    36.13     -5.47       17.38     63.284
7     Amiens         France    49.90      2.30       10.17     50.306
8  Amsterdam    Netherlands    52.35      4.92        8.93     48.074
9     Ancona          Italy    43.60     13.50       13.52     56.336
10   Andorra        Andorra    42.50      1.52        9.60     49.280

*Print using cat( )*

In [37]:
%%R
cat('Miniumum temperature:', min(cities$temperature), '\n')
cat('Maxiumum temperature:', max(cities$temperature), '\n')

Miniumum temperature: -2.2
Maxiumum temperature: 18.67

### <font color="green">**Your Turn: World Cup Data**</font>

#### Open CSV files and load data into data frames

In [38]:
P = open('/content/drive/MyDrive/Google Colab/The R Language/Copy of Players.csv').read()
T = open('/content/drive/MyDrive/Google Colab/The R Language/Copy of Teams.csv').read()

In [39]:
%%R -i P -i T
players <- read.csv(text=P)
teams <- read.csv(text=T)

*1) What player on a team with “ia” in the team name played less than 200 minutes and made more than 100 passes? Print the player surname.*

In [40]:
%%R
players[grepl('ia',players$team) & players$minutes < 200 & players$passes > 100,
              'surname']

[1] "Kuzmanovic"

*2) What is the average number of passes made by forwards? By midfielders? Make sure the answer specifies which is which, and don't include other positions in your result.*

In [41]:
%%R
f <- players[players$position == 'forward',]
m <- players[players$position == 'midfielder',]
cat('Forwards:', mean(f$passes), '\n')
cat('Midfielders:', mean(m$passes), '\n')

Forwards: 50.82517
Midfielders: 95.27193

*3) Which team has the highest ratio of goalsFor to goalsAgainst? Print the team name only. Hint: Add a "ratio" column to the teams dataframe, then sort and pick the first or last row depending how you sorted.*

In [43]:
%%R
teams['ratio'] <- teams$goalsFor/teams$goalsAgainst
teams2 <- teams[order(-teams$ratio),]
teams2[1, 'team']

[1] "Portugal"

*4) How many players who play on a team with ranking <10 played more than 350 minutes?*

In [42]:
%%R
playersext <- merge(players,teams)
nrow(playersext[playersext$ranking < 10 & playersext$minutes > 350,])

[1] 54

### <font color="green">**Your Turn Extra: Titanic Data**</font>

<font color="red">File access required:</font> In Colab these extra problems require first uploading **Titanic.csv** using the *Files* feature in the left toolbar. If running the notebook on a local computer, simply ensure this file is in the same workspace as the notebook.

#### Open CSV file and load data into data frame

In [44]:
T = open('/content/drive/MyDrive/Google Colab/The R Language/Copy of Titanic.csv').read()

In [45]:
%%R -i T
titanic <- read.csv(text=T)

*1) How many passengers sailed for free (i.e., fare is zero)?*

In [46]:
%%R
nrow(titanic[titanic$fare == 0, ])

[1] 15

*2) How many passengers are missing their age, and what is the average fare paid by these passengers? Note: In R, function is.na() checks whether a value is null*

In [47]:
%%R
noage <- titanic[is.na(titanic$age), ]
cat(nrow(noage), 'passengers are missing their age and their average fare is', mean(noage$fare))

177 passengers are missing their age and their average fare is 22.15949

*3) For male survivors, female survivors, male non-survivors, and female non-survivors, how many passengers were in each of those four categories and what was their average fare?*

In [48]:
%%R
aggregate(titanic$fare, by=list(titanic$gender,titanic$survived), FUN=mean)

  Group.1 Group.2        x
1       F      no 23.02556
2       M      no 21.96192
3       F     yes 51.93901
4       M     yes 40.82229

*4) What is the survival rate of passengers in the three classes, i.e., what fraction of passengers in each class survived? What is the survival rate of females versus males? Of children (under 18) versus adults (age 18 or over)?*

In [49]:
%%R
cat('First class:', nrow(titanic[titanic$class == 1 & titanic$survived == 'yes',])/nrow(titanic[titanic$class == 1,]),'\n')
cat('Second class:', nrow(titanic[titanic$class == 2 & titanic$survived == 'yes',])/nrow(titanic[titanic$class == 2,]),'\n')
cat('Third class:', nrow(titanic[titanic$class == 3 & titanic$survived == 'yes',])/nrow(titanic[titanic$class == 3,]),'\n')
cat('Females:', nrow(titanic[titanic$gender == 'F' & titanic$survived == 'yes',])/nrow(titanic[titanic$gender == 'F',]),'\n')
cat('Males:', nrow(titanic[titanic$gender == 'M' & titanic$survived == 'yes',])/nrow(titanic[titanic$gender == 'M',]),'\n')
cat('Children:', nrow(titanic[titanic$age < 18 & titanic$survived == 'yes',])/nrow(titanic[titanic$age < 18,]),'\n')
cat('Adults:', nrow(titanic[titanic$age >= 18 & titanic$survived == 'yes',])/nrow(titanic[titanic$age >= 18,]),'\n')

First class: 0.6296296
Second class: 0.4728261
Third class: 0.2423625
Females: 0.7420382
Males: 0.1889081
Children: 0.3896552
Adults: 0.3611825